<div class="col-xs-12 col-xs-offset-1">
	<h1>New Todo</h1>
	<form>
		<div class="form-group">
			<label>Task Description</label>
			<input type="text" class="form-control" placeholder="Your task..." ng-model="newTask.task">
		</div>
		<div class="form-group">
			<label>Due Date</label>
			<input type="text" class="form-control" placeholder="MM/DD//YYYY" ng-model="newTask.dueDate">
		</div>
		<div class="form-group">
			<label>Assigned to</label>
			<input type="text" class="form-control" placeholder="Name" ng-model="newTask.assignedTo">
		</div>
		<div class="form-group">
			<label>Location</label>
			<input type="text" class="form-control" placeholder="i.e. Basement" ng-model="newTask.location">
		</div>
		<div class="form-group">
			<label>Urgency</label>
			<input type="text" class="form-control" placeholder="High/Medium/Low" ng-model="newTask.urgency">
		</div>
		<div class="form-group">
			<label>Dependencies</label>
			<input type="text" class="form-control" placeholder="i.e. 'Lawn Mower'" ng-model="newTask.dependencies">
		</div>
		<button class="btn btn-default" ng-click="addNewItem()">Submit</button>
	</form>
</div>